@model BookViewModel

@{
    ViewData["Title"] = "Add Book";
}

<h2>Add a new book below:</h2>

<div class="w-75 mx-auto">
    <form asp-action="AddBook" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Book.Title" class="form-label">Title</label>
            <input asp-for="Book.Title" class="form-control"/>
        </div>

        <br />
        <div class="mb-3">
            <label asp-for="SelectedAuthorIds" class="form-label">Choose Authors</label>
            <select name="SelectedAuthorIds" asp-items="@Model.Authors.Select(a => new SelectListItem { Value = a.AuthorId.ToString(), Text = a.AuthorName })" class="form-select form-select-sm" multiple aria-label="Multiple select example">
            </select>
        </div>
        <br />

        <div class="mb-3">
            <label asp-for="Book.GenreId" class="form-label"></label>
            <select asp-for="Book.GenreId" class="form-select form-select-sm" aria-label="Small select example">
                <option>--Choose a Genre--</option>
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre.GenreId">@genre.Name</option>
                }
            </select>
        </div>
        <br />

        <div class="mb-3">
            <label asp-for="Book.StatusId" class="form-label"></label>
            <select asp-for="Book.StatusId" class="form-select form-select-sm" aria-label="Small select example">
                <option>--Choose a Status--</option>
                @foreach (var status in Model.Statuses)
                {
                    <option value="@status.StatusId">@status.StatusName</option>
                }
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="Index" asp-controller="Book" class="btn btn-primary">Cancel</a>
    </form>
</div>