@model BookViewModel

<h1>Book Database</h1>

<a asp-action="AuthorList" asp-controller="Book" class="btn btn-primary">Authors</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@foreach(var author in book.Authors)
                    {
                        <span>@author.AuthorName </span>
                    }
                </td>
                <td>@Model.GetGenre(book.GenreId)</td>
                <td>@Model.GetStatus(book.StatusId)</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Book" asp-action="EditBook"
                       asp-route-id="@book.BookId">Edit</a>
                    <a class="btn btn-primary" asp-controller="Book" asp-action="DeleteBook"
                       asp-route-id="@book.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>